/* Estilo fondo */
body {
    background-image: url(imagenes/Gavin_drum.jpg);
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    min-height: 100vh;
    font-family: "Lucida Sans", sans-serif;
}

body {
    display: block; /
}

header, .main-content, .footer {
    width: 90%;
    max-width: 800px;
    margin: 20px auto; 
}

.centrar_texto {
    text-align: center;
    width: 90%;
    max-width: 800px;
    padding: 20px;
}

/* Estilo titulos */
h1 {
    font-family: "Lucida Sans", "Lucida Grande", sans-serif;
    color: rgb(235, 157, 62);
    font-size: 5rem;
    margin-bottom: 30px;
    text-shadow: 5px 4px 2.5px rgba(0, 0, 0, 0.3);
}

/* Recuadro */
.recuadro {
    opacity: 0.9;
    border-radius: 12px;
    padding: 25px;
    background: rgba(229, 229, 227, 0.85); /*Fondo semi-transparente*/
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    backdrop-filter: blur(5px); /*Efecto vidrio*/
    border: 1px solid rgba(255, 255, 255, 0.2);
    margin-bottom: 20px;
}

.recuadro:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    opacity: 1;
}

/* Estilo Parrafos*/
p {
    color: rgb(36, 35, 35);
    font-size: 1.1rem;
    line-height: 1.6;
    margin-bottom: 20px;
}

/*Estilo enlaces*/
a {
    color: #5a4f3d;
    text-decoration: none;
    font-weight: bold;
    border-bottom: 2px solid #5a4f3d;
    transition: all 0.2s;
}

a:hover {
    color: #7a6b52;
    border-bottom-color: #7a6b52;
}

.main-content {
    max-width: 800px;
    margin: 0 auto 60px;
    padding: 20px;
}

.footer {
    color: white;
    bottom: 0;
    width: 100%;
    font-family: "Lucida Sans", sans-serif;
    font-size: 1rem;
    text-shadow: 1px 1px 2px rgb(255, 255, 255); 
}
/* Formato imagenes recuadros*/
.img-baterista {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}